#Home {
  height: 100vh;
  background: url("../../img/home/main.jpg") 50% 35%/cover;
}
.overlay {
  height: 100vh;
  background-color: rgba(28, 26, 36, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.home-logo {
  width: 45px;
}
.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: #ff4d4d;
  background: linear-gradient(#ff4d4d, #ff4d79 65%, #ff4da6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-title {
  margin: 16px 0;
  font-size: 58px;
  font-weight: 300;
}
.home-subtitle {
  margin: 0 0 64px 0;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5px;
}
.chevron {
  position: absolute;
  bottom: 12%;
  outline: 1px solid transparent; /* Extend repaint dimensions to prevent trail of pixels left behind when animating */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.chevron:hover {
  bottom: 10%;
}
.button-transparent {
  width: 150px;
  background: none;
  color: #ffffff;
  border: solid 2px #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-transparent:hover {
  width: 160px;
  background: #ff4d4d;
  border-color: #ff4d4d;
}

@media only screen and (min-width: 660px) {
  .home-title {
    font-size: 72px;
  }
  .home-subtitle {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) {
  .circle {
    height: 110px;
    width: 110px;
  }
  .home-logo {
    width: 50px;
  }
  .home-title {
    font-size: 80px;
    letter-spacing: 2px;
  }
  .home-subtitle {
    font-size: 24px;
    letter-spacing: 7px;
    word-spacing: 7px;
  }
  .chevron {
    width: 55px;
    height: 55px;
  }
}
@media only screen and (min-width: 1000px) {
  .home-title {
    font-size: 95px;
  }
  .home-subtitle {
    font-size: 28px;
  }
}
