#Home {
  height: 100vh;
  background: url("../../img/home/main.jpg") 50% 35%/cover;
}
.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.title {
  margin: 32px 16px;
  text-align: center;
}
.title h1 {
  margin: 0;
  font-size: 34px;
}
.title h2 {
  margin: 0;
  font-size: 36px;
  color: #d9d9d9;
}
.home-name {
  color: #ff4d4d;
  font-size: 36px;
}
.button-transparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  color: #ffffff;
  border: solid 2px #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.button-transparent:hover {
  width: 140px;
  background: #ff4d4d;
  border-color: #ff4d4d;
}
