.menu-icon {
  width: 24px;
  height: 24px;
  padding: 6px;
  margin: 16px;
  z-index: 200;
  position: fixed;
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: all 0.2s ease-in;
}
.dark {
  background: #ffffff;
  border-color: #595959;
}
.mobile-menu {
  height: 0;
  width: 100%;
  background: #1a1a1a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  position: fixed;
  transition: all 0.3s ease-in;
}
.show-menu {
  height: 100vh;
}
.menu-item-wrapper {
  height: 0px;
  overflow: hidden;
  transition: all 0.3s 0.3s ease-in;
}
.show-item {
  height: 72px;
}
.menu-item {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.menu-item:hover, .underline {
  text-decoration: underline;
  text-underline-position: under;
}

@media only screen and (min-width: 768px) {
  .Menu {
    display: none;
  }
}
