.Footer {
  height: 150px;
  display: flex;
  justify-content: center;
  background: #232323;
  color: #ffffff;
}
.footer-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-icon-container {
  margin-right: 8px;
}
.footer-icon {
  width: 24px;
  margin: 0 8px;
  opacity: 0.75;
}
.footer-icon:hover {
  opacity: 1;
}
.copyright {
  margin: 32px 16px;
  font-size: 14px;
}
