#About {
  text-align: center;
}
.about-section {
  height: 100%;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}
@media only screen and (min-width: 880px) {
  .about-me {
    display: flex;
  }
  .about-section {
    margin: 32px;
  }
}
