#Portfolio {
  background-color: #eeeeee;
}
.grid {
  width: 100%;
  max-width: 880px;
  margin-top: 16px;
}
.column {
  width: 100%;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proj-container {
  padding: 16px 0;
  max-width: 475px;
  text-decoration: none;
  color: #000000;
}
.proj-img {
  width: 100%;
  border-radius: 1%;
  box-shadow: 0 4px 5px #b3b3b3;
}
@media only screen and (min-width: 780px) {
  .column {
    width: 50%;
  }
  .proj-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media only screen and (min-width: 1300px) {
  .column {
    width: 33.33%;
  }
}
