.App {
  font-weight: 300;
}
.app-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 16px;
}
.app-section h1 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 16px;
  color: #252429;
}
.button {
  height: 48px;
  min-width: 110px;
  padding: 16px;
  margin: 8px;
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.button-border {
  border: solid 1px #252429;
  color: #252429;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-border:hover {
  font-weight: 300;
  background-color: #252429;
  color: #ffffff;
}
.center-vertical {
  display: flex;
  align-items: center;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.accent {
  color: #ff4d79;
}
.gradient:hover {
  background: #ff4d4d;
  background: linear-gradient(#ff4d4d, #ff4d79, #ff4da6);
}
.fade-in {
  animation: 500ms ease-in 1 fadeIn;
}

@keyframes slideInFromTop {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
