.app-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 16px;
}
.app-section h1 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 64px;
}
.button {
  height: 48px;
  min-width: 110px;
  padding: 16px;
  margin: 8px;
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  border: solid 2px #ffffff;
  color: #000000;
}
.button-border {
  border: solid 2px #000000;
}
.button:hover {
  background-color: #000000;
  border: #000000;
  color: #ffffff;
  cursor: pointer;
}
.accent {
  color: #ff4d4d;
}
