.app-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 16px;
}
.button {
  height: 48px;
  min-width: 110px;
  padding: 16px;
  margin: 8px;
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: #000000;
}
.button-border {
  border: solid 1px #000000;
}
.button:hover {
  background-color: #000000;
  border: #000000;
  color: #ffffff;
  cursor: pointer;
}
