.Nav {
  width: 100%;
  height: 62px;
  position: fixed;
  top: 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
}
.Nav h4 {
  margin: 0;
}
.Nav h4:hover {
  cursor: pointer;
}
.mobile-nav {
  height: 62px;
  margin: 0 16px;
}
.menu-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 1;
}
.center-vertical {
  display: flex;
  align-items: center;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar {
  display: none;
  height: 100%;
  justify-content: center;
}
.navbar-contents {
  width: 100%;
  max-width: 1200px;
}
.logo {
  width: 150px;
  margin-left: 16px;
}
.navbar-items {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.navbar-items h4 {
  margin: 0 16px;
}
@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .navbar {
    display: flex;
  }
}
