.navbar {
  width: 100%;
  height: 62px;
  display: none;
  justify-content: center;
  color: #ffffff;
  z-index: 100;
  position: absolute;
}
.nav-logo {
  width: 36px;
  margin-left: 16px;
  cursor: pointer;
}
.nav-title {
  margin: 0;
  font-weight: 400;
  cursor: pointer;
}
.nav-title:hover, .active {
  text-decoration: underline;
  text-underline-position: under;
}
.fixed-nav {
  position: fixed;
  background: #ffffff;
  color: #000000;
  box-shadow: 2px 2px 2px #e6e6e6;
}
.nav-contents {
  width: 100%;
  max-width: 1200px;
}
.nav-item-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  margin: 0 16px;
}
.mobile-nav {
  position: fixed;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
  .mobile-nav {
    display: none;
  }
}
